In [1]:
import pandas as pd

In [2]:
imdb_name_basics = pd.read_csv("zippedData/imdb.name.basics.csv")
imdb_title_akas = pd.read_csv("zippedData/imdb.title.akas.csv")
imdb_title_basics = pd.read_csv("zippedData/imdb.title.basics.csv")
imdb_title_crew = pd.read_csv("zippedData/imdb.title.crew.csv")
imdb_title_principals = pd.read_csv("zippedData/imdb.title.principals.csv")
imdb_title_ratings = pd.read_csv("zippedData/imdb.title.ratings.csv")

In [3]:
bom = pd.read_csv("zippedData/bom.movie_gross.csv")

In [4]:
rt_movie_info = pd.read_csv("zippedData/rt.movie_info.tsv",sep="\t")
rt_reviews = pd.read_csv("zippedData/rt.reviews.tsv", sep="\t", encoding = "ISO-8859-1")

In [5]:
tmdb = pd.read_csv("zippedData/tmdb.movies.csv")

In [12]:
tn_movie_budgets = pd.read_csv("zippedData/tn.movie_budgets.csv")

In [21]:
tn_movie_budgets.release_date = pd.to_datetime(tn_movie_budgets.release_date)

In [29]:
### Data Cleaning ###

#First taking recent movies from 2010 to 2018 in the tn dataframe
tn_movie_budgets = tn_movie_budgets[(tn_movie_budgets.release_date.dt.year > 2009) & (tn_movie_budgets.release_date.dt.year<2019)]

In [54]:
#Change budget and gross strings into integers
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'].str.replace(',', '').str.replace('$','').astype(int)
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'].str.replace(',', '').str.replace('$','').astype(int)
tn_movie_budgets['domestic_gross'] = tn_movie_budgets['domestic_gross'].str.replace(',', '').str.replace('$','').astype(int)

In [57]:
tn_movie_budgets["worldwide_gross_budget_ratio"] = tn_movie_budgets['worldwide_gross'] / tn_movie_budgets['production_budget']

In [59]:
tn_movie_budgets["Earnings"] = tn_movie_budgets["worldwide_gross"] - tn_movie_budgets["production_budget"]

In [131]:
tn_movie_budgets.release_date = pd.to_datetime(tn_movie_budgets.release_date)
tn_movie_budgets.release_date.head()
tn_movie_budgets["year"] = tn_movie_budgets.release_date.dt.year

In [133]:
Movie_earnings = pd.merge(tn_movie_budgets, imdb_title_basics, left_on=["movie","year" ], right_on=["primary_title", "start_year"], how='inner')

In [140]:
Movie_earnings.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_gross_budget_ratio,Earnings,year,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2.546673,635063875,2011,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy"
1,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,4.243841,1072413963,2015,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi"
2,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,6.827114,1748134200,2018,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"
3,9,2017-11-17,Justice League,300000000,229024295,655945209,2.186484,355945209,2017,tt0974015,Justice League,Justice League,2017,120.0,"Action,Adventure,Fantasy"
4,10,2015-11-06,Spectre,300000000,200074175,879620923,2.932070,579620923,2015,tt2379713,Spectre,Spectre,2015,148.0,"Action,Adventure,Thriller"