In [1]:
import pandas as pd

In [2]:
imdb_name_basics = pd.read_csv("zippedData/imdb.name.basics.csv")
imdb_title_akas = pd.read_csv("zippedData/imdb.title.akas.csv")
imdb_title_basics = pd.read_csv("zippedData/imdb.title.basics.csv")
imdb_title_crew = pd.read_csv("zippedData/imdb.title.crew.csv")
imdb_title_principals = pd.read_csv("zippedData/imdb.title.principals.csv")
imdb_title_ratings = pd.read_csv("zippedData/imdb.title.ratings.csv")

In [3]:
bom = pd.read_csv("zippedData/bom.movie_gross.csv")

In [4]:
rt_movie_info = pd.read_csv("zippedData/rt.movie_info.tsv",sep="\t")
rt_movie_reviews = pd.read_csv("zippedData/rt.reviews.tsv", sep="\t", encoding = "ISO-8859-1")
rt_reviews = pd.read_csv("zippedData/rt.reviews.tsv", sep = "\t", encoding = "ISO-8859-1")
tmdb = pd.read_csv("zippedData/tmdb.movies.csv")

In [5]:
tmdb = pd.read_csv("zippedData/tmdb.movies.csv")

In [6]:
tn = pd.read_csv("zippedData/tn.movie_budgets.csv")

In [8]:
imdb_title_akas.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [9]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"